<%- if user_signed_in? %>
<div class="container-fluid" id="">
  <div class="col-xs-2"><%= render "layouts/sidebar" %></div>
  <div class="col-xs-10 login-box" style="background-color:rgba(138, 245, 234, 0.4);"><br>
    <div><%= link_to "<button>Back</button>".html_safe, :back, :class=>"pull-right" %></div>
    <h3>Dashboard</h3><br>
    <div class="col-lg-6">
	    <div class="panel panel-default">
	        <div class="panel-heading">Project Activity Timeline</div>
	        <select multiple class="form-control" style="height: 200px">
	        	<% Project.all.each do |project,i| %>
	                <option style="color:Green">Project <%= project.id %>:</option><option>&emsp;Titile:  &emsp;<%= project.title %>,&nbsp;&emsp;Project Type: <%= project.project_type%>&nbsp;&emsp;<%= project.updated_at.strftime("%F")%></option>
	                <option></option>
	            <% end %>
	        </select>
	    </div>
	</div>
	<div class="col-lg-6">
	    <div class="panel panel-default">
	        <div class="panel-heading">Project Activity Timeline</div>
	        <select multiple class="form-control" style="height: 200px">
	        	<% Project.all.each do |project,i| %>
	                <option><li><%= project.title %></li></option>
	            <% end %>
	        </select>
	    </div>
	</div>
 </div>
</div>
<%end%>


                  