<%- if user_signed_in? %>
<div class="container-fluid" id="">
  <div class="col-xs-2"><%= render "layouts/sidebar" %></div>
  <div class="col-xs-10 login-box" style="background-color:rgba(138, 245, 234, 0.4);"><br>
    <div><%= link_to "<button>Back</button>".html_safe, :back, :class=>"pull-right", :style => "color:white"  %></div>
    <div class="row col-lg-12">
      <div class="col-lg-4">
        <h2>Create a Task</h2>
        <%= render 'form' %>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
       <h2>Created Task</h2><br/>
        <% $j=0 %>
        <% @task.each do |t| %>
          <% if t.project_id == params[:project_id].to_i %>
            <p><strong>Task-<%= $j+=1%></strong></p>
            <table class="table">
              <thead >
                <tr>
                  <th scope="col">Task:</th>
                  <th scope="col"><%= t.task %></th>
                </tr>
              </thead>
            </table>
          <% end %>
        <%end%>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
<% end %>