<div class="container-fluid">
  <div class="col-xs-12">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <section id="wrapper" class="login-register">
        <div class="login-box" style="background-color:rgba(138, 245, 234, 0.4);">
          <h2>&nbsp;&nbsp;Forgot your password?</h2><br>
          <center><a><%= image_tag("0.png",style: 'width: 30%;') %></a></center><br>
          <div class="white-box">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
	          <div class="row">
	            <div class="col-xs-1"></div>
	            <div class="form-group col-xs-10">
	              <div class="form-group" >
	                <%= f.label :email %>:
	                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %> 
	              </div>
	              <div class="form-group">
	                <%= link_to " Sign Up",new_registration_path(resource_name),{ :class=> 'pull-left fa fa-sign-in m-r-5',:style=> 'color:blue;'} %>
	                <%= link_to " Home",root_path(resource_name),{:class=> 'pull-right fa  fa-home m-r-5',:style=> 'color:blue;'} %><br>
	              </div>
	              <div class="form-group actions" >
	              	<%= f.submit "Send me", {:class=> 'btn btn-primary btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light',:style=> 'color:#FFFFFF;' } %>
	              </div>
	              <center><%= render "devise/shared/links" %></center>
	            </div>
	            <div class="col-xs-2"></div>
	         </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>

