<%- if user_signed_in? %>
<div class="container-fluid" id="">
  <div class="col-lg-2"><%= render "layouts/sidebar" %></div>
  <div class="col-lg-10 login-box" style="background-color:rgba(138, 245, 234, 0.4);"><br>
    <div><%= link_to "<button>Back</button>".html_safe, :back, :class=>"pull-right" %></div>
    <div class="row col-lg-12 ">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
       <h2>Project</h2><br/>
        <table class="table">
          <thead style="color:Green;">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Project type</th>
               <th scope="col">Tasks</th>
               <th scope="col">Add Task</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= @project.title %></td>
                <td><%= @project.project_type %></td>
                <% $i=0 %>
                <% @project.tasks.each do |t,i| %>
                   <% $i+=1 %>
                <%end%>
                <td>
                <%= $i %>
              </td>
              <td><%= link_to "<button>Add</button>".html_safe, tasks_new_path(project_id: params[:project_id]), :class=>"inbox-sf-add-btn tip" %></td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <h2>Add Attachments</h2>
        <%= form_with(url: attachements_create_path(project_id: params[:project_id]), html: { multipart: true }, method: "post") do |f| %>
        
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit 'Upload document', class: 'btn btn-default' %>
          </div>

        <% end %>
      </div>
    </div>
    <div class="row col-lg-12 ">
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <h3>Tasks</h3>
        <% $j=0 %>
        <%= render @project.tasks %>
      </div>
    </div>
  </div>
</div>
<% end %>