<%- if user_signed_in? %>
<div class="container-fluid" id="">
  <div class="col-xs-2"><%= render "layouts/sidebar" %></div>
  <div class="col-xs-10 login-box" style="background-color:rgba(138, 245, 234, 0.4);">
    <div class="row col-xs-12 ">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
       <h2>Project</h2><br/>
        <table class="table">
          <thead style="color:Green;">
            <tr>
              <th scope="col">Project ID</th>
              <th scope="col">Title</th>
              <th scope="col">Project type</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= @project.id %></td>
                <td><%= @project.title %></td>
                <td><%= @project.project_type %></td>
                <td>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <h2>Tasks</h2>
        <%= render @project.tasks %>
      </div>
    </div>
  </div>
</div>
<% end %>