<div class="container-fluid">
  <div class="col-xs-2"><%= render "layouts/sidebar" %></div>
  <div class="col-xs-10 login-box" style="background-color:rgba(138, 245, 234, 0.4);"><br>
    <div><%= link_to "<button>Back</button>".html_safe, :back, :class=>"pull-right", :style => "color:white" %></div>
    <div class=" row col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-3">
        <h2><%= I18n.t('title', {:scope => 'devise.registration'}) %></h2>
        <%= google_authenticator_qrcode(resource) %>
        <%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :displayqr], :html => {:method => :post}) do |f|%>
			<p><br><%= f.submit I18n.t('newtoken', {:scope => 'devise.registration'}) %></p>
		<% end %><br>

      </div>
      <div class="col-xs-7">
        <%= form_for(resource, :as => resource_name, :url => [resource_name, :displayqr], :html => { :method => :put }) do |f| %>
          <!-- <%= devise_error_messages! %> -->
          <%= render "devise/shared/error_messages", resource: resource %>

    			<h3><%= I18n.t('nice_request', {:scope => 'devise.registration'}) %></h3>
    			
    			<p><%= f.label :gauth_enabled, I18n.t('qrstatus', {:scope => 'devise.registration'}) %><br />
    			<%= f.check_box :gauth_enabled %></p>
    			
    			<%= f.hidden_field :tmpid, value: @tmpid %>
    			
    			<p><%= f.label :gauth_token, I18n.t('enter_token', {:scope => 'devise.registration'}) %><br />
    			<%= f.number_field :gauth_token, :autocomplete => :off %>

    			<p><br><%= f.submit I18n.t('submit', {:scope => 'devise.registration'}) %></p>
		    <% end %>
      </div>
    </div>
  </div>
</div>