<!DOCTYPE html>
<html>
  <head>
    <title>SykamPms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="login_bg">
      <!-- add navbar -->
    <nav class="navbar">
      <%= nav_bar fixed: :center, brand: "Sykam @ PMS", responsive: true do %>
        <%= menu_group do %>
          <%- unless user_signed_in? %>
            <%= menu_item "Home", root_path %>
            <%= menu_divider %>
            <%= drop_down "Products" do %>
              <%= menu_item "Things you can't afford" %>
              <%= menu_item "Things that won't suit you anyway"%>
              <%= menu_item "Things you're not even cool enough to buy anyway" %>    
            <% end %>
            <%= menu_item "About Us" %>
            <%= menu_item "Contact"%>
          <% end%>
        <% end %>
        <%= menu_group pull: :right do %>
          <%- if user_signed_in? %>
            <%= menu_item " Update Settings", edit_user_registration_path, :class => "fa fa-cog"  %>
            <%= menu_item " Logout", destroy_user_session_path, :class => "fa fa-sign-out", method: :delete %>
          <%- else %>
            <%= menu_item "Login", new_user_session_path%>
            <%= menu_item "Signup", new_user_registration_path %>
          <% end %>         
        <% end %>
      <% end %>
    </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <!-- for now it will not seen in view -->
      <%- unless controller_name != 'passwords' && controller_name != 'sessions' %>
        <a href= https://mail.google.com/mail> Go to Gmail</a>
      <%end%> 

    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%=yield :sidebar %>
    <%= yield %>
    
    <nav class="navbar">
    <%= nav_bar fixed: :bottom do %>
      <% menu_group pull: :right do %>
        <%- if user_signed_in? %>
          <%= menu_item "Logout", destroy_user_session_path, method: :delete %>
        <%- else %>
          <h4> Welcome to Sykam PMS </h4>
        <% end %>
      <% end %>
    <% end %>
  </nav>
  </body>
</html>
